<header class="header">
  <div class="container">
    <img src="/img/sunnyside-logo.svg" alt="Sunnyside Logo" class="logo">

    <div class="nav-links">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </div>
  </div>


  {# Locales switcher #}
  {#      {% for siteForEntry in entry.getSupportedSites %}#}
  {#        {% set site = craft.app.getSites.getSiteById(siteForEntry.siteId) %}#}
  {#        {% if site.id != entry.siteId %}#}
  {#          {% set entryForOtherSite = craft.entries.id(entry.id).site(site).one() %}#}
  {#          {% if entryForOtherSite is not null %}#}
  {#            <a class="language-link" href="{{ entryForOtherSite.getUrl() }}">{{ site.handle|upper }}</a>#}
  {#          {% endif %}#}
  {#        {% endif %}#}
  {#      {% endfor %}#}
</header>
