.hero {
  background-image: url('/img/image-header.jpg');
  background-size: contain;
  background-position: bottom center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  .heading {
    margin-top: 200px;
    text-align: center;
    letter-spacing: 8.75px;
    color: #fff;
    font-size: 56px;
    font-weight: 900;
    font-family: $fontFraunces;
    text-transform: uppercase;
  }
}

.text-image-grid {
  
  .row {
    width: 100%;
    display: flex;

    &:last-of-type {
      flex-direction: row-reverse;
    }

    .text-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-wrapper {
        width: 100%;
        max-width: 445px;
        height: 285px;

        .heading {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 40px;
          line-height: 50px;
          color: #24303E;
        }
    
        .text {
          font-family: $fontBarlow;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          color: #808397;
          margin-top: 32px;
          margin-bottom: 40px;
        }
    
        .link {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 15px;
          line-height: 25px;
          color: #24303E;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding: 0 8px;
          position: relative;

          &.link-1 {

            &::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 10px;
              width: 100%;
              background-color: #FAD400;
              border-radius: 28px;
              opacity: 0.25;
            }
          }


          &.link-2 {

            &::before {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 10px;
              width: 100%;
              background-color: #FE7766;
              border-radius: 28px;
              opacity: 0.25;
            }
          }
        }
      }
    }
  
    .image-container {
      width: 50%;
  
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.dual-image-layout {
  width: 100%;
  height: 600px;
  display: flex;

  .column {
    width: 50%;
    position: relative;
    overflow: hidden;

    .image {
      width: 100%;
      // height: 100%;
    }

    .text-container {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 340px;
      height: 140px;
      text-align: center;

      .heading {
        font-family: $fontFraunces;
        font-weight: 900;
        font-size: 28px;
        color: #24554A;
      }
  
      .text {
        font-family: $fontBarlow;
        font-weight: 600;
        font-size: 16px;
        color: #3E7467;
        margin-top: 30px;
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 160px;
  gap: 80px;
  background-color: #FFFCF8;

  .heading {
    font-family: $fontFraunces;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
    color: #A7AAAD;
    text-transform: uppercase;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 30px;

    .column {

      .image {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-bottom: 60px;
      }

      .quote {
        width: 350px;
        height: 100px;
        font-family: $fontBarlow;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #5B636D;
        margin-bottom: 70px;
      }

      .signature {

        .name {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          color: #24303E;
          margin-bottom: 10px;
        }

        .title {
          font-family: $fontBarlow;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          color: #A7AAAD;
        }
      }
    }
  }
}

.image-gallery {
  width: 100%;
  height: 447px;
  display: flex;

  .image {
    width: 25%;
  }
}