.hero {
  background-image: url('/img/image-header.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding: 32px;

  .heading {
    margin-top: 200px;
    text-align: center;
    letter-spacing: 8.75px;
    color: #fff;
    font-size: 56px;
    font-weight: 900;
    font-family: $fontFraunces;
    text-transform: uppercase;

    @media (max-width: 800px) {
      font-size: 40px;
    }
  }

  .arrow {
    cursor: pointer; //Javascript onclick scroll
  }
}

.text-image-grid {
  
  .row {
    width: 100%;
    display: flex;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
    }

    &:last-of-type {
      flex-direction: row-reverse;

      @media (max-width: 800px) {
        flex-direction: column-reverse;
      }
    }

    .text-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 32px;

      @media (max-width: 800px) {
        width: 100%;
        text-align: center;
        padding: 64px 24px;
      }
      
      .text-wrapper {
        width: 100%;
        max-width: 445px;
        min-height: 285px;

        .heading {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 40px;
          line-height: 50px;
          color: #24303E;

          @media (max-width: 800px) {
            font-size: 32px;
            line-height: 40px;
          }
        }
    
        .text {
          font-family: $fontBarlow;
          font-weight: 600;
          font-size: 18px;
          line-height: 30px;
          color: #808397;
          margin-top: 32px;
          margin-bottom: 40px;

          @media (max-width: 800px) {
            margin-top: 24px;
            margin-bottom: 32px;
          }
        }
    
        .link {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 15px;
          line-height: 25px;
          color: #24303E;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding: 0 8px;
          position: relative;
          
          &:hover::before {
            opacity: 1;
          }
          
          &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 10px;
            width: 100%;
            background-color: #FAD400;
            border-radius: 28px;
            opacity: 0.25;
            transition: ease-in .2s;
          }


          &.link-2 {

            &::before {
              background-color: #FE7766;
            }
          }

          .link-text {
            position: relative;
          }
        }
      }
    }
  
    .image-container {
      width: 50%;

      @media (max-width: 800px) {
        width: 100%;
      }
  
      .image {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.dual-image-layout {
  width: 100%;
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .column {
    width: 50%;
    height: 600px;
    position: relative;

    @media (max-width: 800px) {
      width: 100%;
    }

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .text-container {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 340px;
      height: 140px;
      text-align: center;
      padding: 0 24px;

      .heading {
        font-family: $fontFraunces;
        font-weight: 900;
        font-size: 28px;
        color: #24554A;
      }
  
      .text {
        font-family: $fontBarlow;
        font-weight: 600;
        font-size: 16px;
        color: #3E7467;
        margin-top: 30px;
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 160px 24px;
  gap: 80px;
  background-color: #FFFCF8;

  @media (max-width: 800px) {
    padding: 64px 24px;
  }

  .heading {
    font-family: $fontFraunces;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 5px;
    color: #A7AAAD;
    text-transform: uppercase;

    @media (max-width: 800px) {
      font-size: 16px;
    }
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 64px;
    }

    .column {

      .image {
        width: 72px;
        height: 72px;
        border-radius: 50%;
      }

      .quote {
        max-width: 350px;
        max-height: 100px;
        font-family: $fontBarlow;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #5B636D;
        margin-top: 60px;
        margin-bottom: 70px;

        @media (max-width: 800px) {
          margin-top: 32px;
          margin-bottom: 32px;
        }
      }

      .signature {

        .name {
          font-family: $fontFraunces;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          color: #24303E;
          margin-bottom: 10px;
        }

        .title {
          font-family: $fontBarlow;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          color: #A7AAAD;
        }
      }
    }
  }
}

.image-gallery {
  width: 100%;
  min-height: 447px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;

  .image {
    width: 25%;
    transition: transform .3s;
    transform: scale(1);

    @media (max-width: 1023px) {
      width: 50%;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}