{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set pageClass = 'homepage' %}
{% extends "_layouts/_layout.twig" %}

{% block _inline_css %}
  <style>
    {{ source ("index_critical.min.css", ignore_missing = true) }}
  </style>
{% endblock %}

{% block content %}
  <section class="hero">
    <h1 class="heading">We are creatives</h1>
    <img src="/img/icon-arrow-down.svg" alt="Arrow down" class="arrow">
  </section>
  
  <section class="text-image-grid">
    <div class="row">
      <div class="text-container">
        <div class="text-wrapper">
          <h2 class="heading">Transform your brand</h2>
          <p class="text">We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through 
          compelling visuals that do most of the marketing for you.</p>
          <a href="#" class="link link-1">
            <span class="link-text">Learn more</span>
          </a>
        </div>
      </div>
      <div class="image-container">
        <img src="/img/desktop/image-transform.jpg" alt="Image of an egg on its side." class="image">
      </div>
    </div>

    <div class="row">
      <div class="text-container">
        <div class="text-wrapper">
          <h2 class="heading">Stand out to the right audience</h2>
          <p class="text">Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’ll 
          build and extend your brand in digital places. </p>
          <a href="#" class="link link-2">
            <span class="link-text">Learn more</span>
          </a>
        </div>
      </div>
      <div class="image-container">
        <img src="/img/desktop/image-stand-out.jpg" alt="Image of a glass." class="image">
      </div>
    </div>
  </section>

  <section class="dual-image-layout">
    <div class="column">
      <img src="/img/desktop/image-graphic-design.jpg" alt="Image of cherries." class="image">
      <div class="text-container">
        <h2 class="heading">Graphic design</h2>
        <p class="text">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential 
        clients’ attention.</p>
      </div>
    </div>
    <div class="column">
      <img src="/img/desktop/image-photography.jpg" alt="Image of an orange." class="image">
      <div class="text-container">
        <h2 class="heading">Photography</h2>
        <p class="text">Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <h2 class="heading">Client testimonials</h2>
    <div class="row">
      <div class="column">
        <img src="/img/image-emily.jpg" alt="Image of Emily R." class="image">
        <p class="quote">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
        <div class="signature">
          <p class="name">Emily R.</p>
          <p class="title">Marketing Director</p>
        </div>
      </div>
      <div class="column">
        <img src="/img/image-thomas.jpg" alt="Image of Thomas S." class="image">
        <p class="quote">Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable
         experience.</p>
        <div class="signature">
          <p class="name">Thomas S.</p>
          <p class="title">Chief Operating Officer</p>
        </div>
      </div>
      <div class="column">
        <img src="/img/image-jennie.jpg" alt="Image of Jennie F." class="image">
        <p class="quote">Incredible end result! Our sales increased over 400% when we worked with Sunnyside. Highly recommended!</p>
        <div class="signature">
          <p class="name">Jennie F.</p>
          <p class="title">Business Owner</p>
        </div>
      </div>
    </div>
  </section>

  <section class="image-gallery">
    <div class="image-container">
      <img src="/img/desktop/image-gallery-milkbottles.jpg" alt="Picture of milk bottles." class="image">
    </div>
    <div class="image-container">
      <img src="/img/desktop/image-gallery-orange.jpg" alt="Picture of an orange." class="image">
    </div>
    <div class="image-container">
      <img src="/img/desktop/image-gallery-cone.jpg" alt="Picture of an ice cream cone." class="image">
    </div>
    <div class="image-container">
      <img src="/img/desktop/image-gallery-sugarcubes.jpg" alt="Picture of sugarcubes." class="image">    
    </div>
  </section>
{% endblock %}

{% block _inline_js %}
{% endblock %}
